<div class="relative p-6">
    <% if flash[:alert] %>
        <div class="mb-4 p-3 bg-red-100 text-red-700 rounded">
            <%= flash[:alert] %>
        </div>
    <% end %>

    <% if flash[:notice] %>
        <div class="mb-4 p-3 bg-green-100 text-green-700 rounded">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <h1 class="text-2xl font-bold mb-4">Welcome to Your Wallet</h1>

    <div class="flex gap-4 mb-6"> 
        <%= link_to "Send Money", send_money_transfers_path, class: "px-4 py-2 bg-blue-500 text-white rounded" %> 
        <%= link_to "Receive Money", receive_money_transfers_path, class: "px-4 py-2 bg-green-500 text-white rounded" %> 
    </div>

    <div class="transaction-card space-y-3">
        <% @transactions.each do |t| %>
        <div class="p-4 border rounded shadow-sm">
            <% if t.direction_for(current_user) == :deduction %>
            <p class="text-red-600 font-semibold">Sent: ₱<%= t.amount %></p>
            <p>To: <%= t.other_party_name(current_user) %></p>
            <% else %>
            <p class="text-green-600 font-semibold">Received: ₱<%= t.amount %></p>
            <p>From: <%= t.other_party_name(current_user) %></p>
            <% end %>
            <p class="text-gray-500 text-sm"><%= t.created_at.in_time_zone.strftime("%b %d, %Y %H:%M") %></p>
        </div>
        <% end %>
    </div>
</div>